<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cheche.dal.dao.ChecheApplyControlMapper">
	<resultMap id="BaseResultMap" type="cheche.dal.entity.ChecheApplyControl">
    <!--
      WARNING - @mbg.generated
    -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="process_id" jdbcType="BIGINT" property="processId" />
		<result column="control_id" jdbcType="BIGINT" property="controlId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="value" jdbcType="VARCHAR" property="value" />
		<result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
		<result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
		<result column="modifier" jdbcType="VARCHAR" property="modifier" />
	</resultMap>

	<delete id="deleteAll">
		DELETE FROM cheche_apply_control WHERE process_id = #{processId}
	</delete>

	<select id="findLst" resultType="cheche.core.dto.template.ControlItem">
		SELECT t.id, t.`type`, t.`name`, t.label, c.`value`, t.placeholder, t.`require`, t.config configJson
		FROM cheche_apply_control c
		LEFT JOIN cheche_template_control t ON c.control_id = t.id
		WHERE c.process_id = #{processId}
	</select>

	<select id="findValue" resultType="java.lang.String">
		SELECT `value` FROM cheche_apply_control
		WHERE process_id = #{processId} AND control_id = #{controlId}
	</select>

	<select id="findValueByName" resultType="java.lang.String">
		SELECT `value` FROM cheche_apply_control
		WHERE process_id = #{processId} AND `name` = #{name}
	</select>
</mapper>