<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cheche.dal.dao.ChecheApplyTaskSpotMapper">
	<resultMap id="BaseResultMap" type="cheche.dal.entity.ChecheApplyTaskSpot">
    <!--
      WARNING - @mbg.generated
    -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="task_id" jdbcType="BIGINT" property="taskId" />
		<result column="process_id" jdbcType="BIGINT" property="processId" />
		<result column="user" jdbcType="VARCHAR" property="user" />
		<result column="assigner" jdbcType="VARCHAR" property="assigner" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="step" jdbcType="INTEGER" property="step" />
		<result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
		<result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
		<result column="modifier" jdbcType="VARCHAR" property="modifier" />
	</resultMap>

	<select id="findAll" resultMap="BaseResultMap">
		SELECT id, task_id, process_id, `user`, assigner, status, role_id, remark, step, is_deleted, gmt_created, creator, gmt_modified, modifier
		FROM cheche_apply_task_spot
		WHERE task_id = #{taskId}
	</select>

	<select id="findMyApproval" resultType="cheche.core.dto.approval.MyApprovalSummary">
		SELECT cap.id processId, cap.sn sn, cap.status processStatus, cap.user applyUser, cap.title title, cap.start_date applyDate, ct.name templateName, cat.id taskId, cat.status taskStatus
		FROM cheche_apply_task_spot cats
		LEFT JOIN cheche_apply_process cap ON cats.process_id = cap.id
		LEFT JOIN cheche_template ct ON cap.template_code = ct.code
		LEFT JOIN cheche_apply_task cat ON cap.step = cat.step AND cat.id = cats.task_id
		WHERE cats.user = #{user}
		<if test="status != null">
			AND cats.status = #{status}
		</if>
		<if test="templateCode != null">
			AND cap.template_code = #{templateCode}
		</if>
		ORDER BY cats.gmt_created DESC
		LIMIT #{offset}, #{rows}
	</select>

	<select id="cntMyApproval" resultType="java.lang.Integer">
		SELECT count(1)
		FROM cheche_apply_task_spot cats
		LEFT JOIN cheche_apply_process cap ON cats.process_id = cap.id
		WHERE cats.user = #{user}
		<if test="status != null">
			AND cats.status = #{status}
		</if>
		<if test="templateCode != null">
			AND cap.template_code = #{templateCode}
		</if>
	</select>

	<select id="searchMyApproval" resultType="cheche.core.dto.approval.MyApprovalSummary">
		SELECT cap.id processId, cap.sn sn, cap.status processStatus, cap.user applyUser, cap.title title, cap.start_date applyDate, ct.name templateName, cat.id taskId, cat.status taskStatus
		FROM cheche_apply_task_spot cats
		LEFT JOIN cheche_apply_process cap ON cats.process_id = cap.id
		LEFT JOIN cheche_template ct ON cap.template_code = ct.code
		LEFT JOIN cheche_apply_task cat ON cap.step = cat.step AND cat.id = cats.task_id
		WHERE cats.user = #{user}
		AND CONCAT(IFNULL(cap.sn,''), IFNULL(cap.user,''), IFNULL(cap.title,'')) LIKE CONCAT('%', #{wd}, '%')
		ORDER BY cats.gmt_created DESC
		LIMIT #{offset}, #{rows}
	</select>

	<select id="cntSearchMyApproval" resultType="java.lang.Integer">
		SELECT count(1)
		FROM cheche_apply_task_spot cats
		LEFT JOIN cheche_apply_process cap ON cats.process_id = cap.id
		WHERE cats.user = #{user}
		AND CONCAT(IFNULL(cap.sn,''), IFNULL(cap.user,''), IFNULL(cap.title,'')) LIKE CONCAT('%', #{wd}, '%')
	</select>

	<update id="pass">
		DELETE FROM cheche_apply_task_spot WHERE task_id = #{taskId} AND user != #{user};
		UPDATE cheche_apply_task_spot SET status = 16, remark = #{remark}, modifier = #{user} WHERE task_id = #{taskId} AND user = #{user};
	</update>

	<delete id="reject">
		DELETE FROM cheche_apply_task_spot WHERE process_id = #{processId} AND step BETWEEN #{fromStep} AND #{toStep}
	</delete>

	<delete id="withdraw">
		DELETE FROM cheche_apply_task_spot WHERE process_id = #{processId}
	</delete>

	<update id="transfer">
		UPDATE cheche_apply_task_spot SET user = #{agent}, assigner = #{user}, modifier = #{user} WHERE task_id = #{taskId} AND user = #{user}
	</update>

	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO cheche_apply_task_spot(task_id, process_id, `user`, status, role_id, step)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.taskId,jdbcType=BIGINT},#{item.processId,jdbcType=BIGINT},#{item.user,jdbcType=VARCHAR},#{item.status,jdbcType=BIGINT},#{item.roleId,jdbcType=BIGINT},#{item.step,jdbcType=BIGINT})
		</foreach>
	</insert>
</mapper>