<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cheche.dal.dao.ChecheTemplateMapper">
	<resultMap id="BaseResultMap" type="cheche.dal.entity.ChecheTemplate">
    <!--
      WARNING - @mbg.generated
    -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="group_id" jdbcType="BIGINT" property="groupId" />
		<result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
		<result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
		<result column="modifier" jdbcType="VARCHAR" property="modifier" />
	</resultMap>

	<resultMap id="templateContentMap" type="cheche.core.dto.template.TemplateContent">
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="groupName" jdbcType="VARCHAR" property="groupName" />
		<collection property="applyContents" javaType="ArrayList" 
			ofType="cheche.core.dto.template.ControlItem"
			select="findApplyContents" column="templateId" />
		<collection property="approver" javaType="ArrayList"
			ofType="cheche.core.dto.template.ApproverItem"
			select="findApprovers" column="templateId" />
	</resultMap>

	<select id="findApplyContents" resultType="cheche.core.dto.template.ControlItem">
		SELECT id, `type`, `name`, label, `value`, placeholder, `require`, config
		FROM cheche_template_control
		WHERE template_id = #{templateId}
	</select>

	<select id="findApprovers" resultType="cheche.core.dto.template.ApproverItem">
		SELECT class_name className, `type`, step, `user`, role, admin
		FROM cheche_template_approver
		WHERE template_id = #{templateId}
		ORDER BY step ASC
	</select>

	<select id="findOne" resultMap="templateContentMap">
		SELECT ct.id templateId, ct.code code, ct.status status, ct.name name, ct.icon icon, ct.group_id groupId, ctg.name groupName
		FROM cheche_template ct
		LEFT JOIN cheche_template_group ctg ON ct.group_id = ctg.id
		WHERE CODE = #{code} AND status = 1
	</select>

	<select id="findLst" resultType="cheche.core.dto.template.TemplateInfo">
		SELECT ct.code code, ct.status status, ct.name name, ct.icon icon, ct.group_id groupId, ctg.name groupName
		FROM cheche_template ct
		LEFT JOIN cheche_template_group ctg ON ct.group_id = ctg.id
		WHERE 1 = 1
		<if test="status != null">
			AND status = #{status}
		</if>
	</select>

	<select id="findByCode" resultMap="BaseResultMap">
		SELECT * FROM cheche_template WHERE code = #{code}
	</select>

	<update id="enable">
		UPDATE cheche_template SET status = 1 WHERE code = #{code}
	</update>

	<update id="disable">
		UPDATE cheche_template SET status = 0 WHERE code = #{code}
	</update>

	<delete id="deleteByCode">
		DELETE FROM cheche_template WHERE code = #{code}
	</delete>

</mapper>